* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
}

/* Fonts */

@font-face {
    font-family: 'Reckless';
    src:
        url('/fonts/Reckless/Reckless-Regular.woff') format('woff'),
        url('/fonts/Reckless/Reckless-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix/fellix-bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}
